
<!DOCTYPE HTML>
<!--
    Retrospect by TEMPLATED
    templated.co
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Demo website Tanveer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="~/Content/main.css" />
    <style>
        .landing {
            background-image: url("~/Content/Images/banner.jpg");
        }
    </style>
</head>
<body class="landing">
    </>
    <!-- Header -->
    <header id="header" class="alt">
        <h1><a href="~/Views/Home/Index.cshtml">Tanveer Rajpal</a></h1>
        <a href="#nav">Menu</a>
    </header>

    <!-- Nav -->
    <nav id="nav">
        <ul class="links">
            <li><a href="~/Home/Index">Home</a></li>
            <li><a href="~/Home/Generic">Generic</a></li>
            <li><a href="~/Home/Element">Elements</a></li>
        </ul>
    </nav>

    <!-- Banner -->
    <section id="banner">
        <i class="icon fa-diamond"></i>
        <h2>Welcome</h2>
        <p>Want to know more about us?</p>
        <ul class="actions">
            <li><a href="" class="button big special">Click me</a></li>
        </ul>
    </section>

    <!-- One -->
    <section id="one" class="wrapper style1">
        <div class="inner">
            <article class="feature left">
                <span class="image"><img src="~/Content/Images/pic01.jpg" alt="" /></span>
                <div class="content">
                    <h2>Leading team with innovative ideas</h2>
                    <p>Our company is one of the best company out there. We have special group of people who are well trained and believe in commitment in innovation.</p>
                    <ul class="actions">
                        <li>
                            <a href="" class="button alt">More</a>
                        </li>
                    </ul>
                </div>
            </article>
            <article class="feature right">
                <span class="image"><img src="~/Content/Images/pic14.png" alt="" style="margin: 5px 5px" ; /></span>
                <div class="content">
                    <h2>Collabortion along with the world's top class power companies</h2>
                    <p>We have collaborated with numerous companies who believes in us. Till today, once a company join us, never leave.</p>
                    <ul class="actions">
                        <li>
                            <a href="#" class="button alt">More</a>
                        </li>
                    </ul>
                </div>
            </article>
            <article class="feature left">
                <span class="image"><img src="~/Content/Images/pic12.jpg" alt="" style="top: 0;" /></span>
                <div class="content">
                    <h2>Award winning innovative ideas</h2>
                    <p>Our company have won numerous awards in competitions for best ideas. We believe it is just a starting. In past 12 months, our employees have generated 5 great innovated ideas adapted by world class companies.</p>
                    <ul class="actions">
                        <li>
                            <a href="#" class="button alt">More</a>
                        </li>
                    </ul>
                </div>
            </article>
            <article class="feature right">
                <span class="image"><img src="~/Content/Images/pic13.jpg" alt="" /></span>
                <div class="content">
                    <h2>We value our customers</h2>
                    <p>Our company is known for the service we provide for our customers. Customers never regret doing business with us.</p>
                    <ul class="actions">
                        <li>
                            <a href="#" class="button alt">More</a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </section>

    <!-- Two -->
    <section id="two" class="wrapper special">
        <div class="inner">
            <header class="major narrow">
                <h2>Award winning innovative ideas</h2>
                <p>Our company have won numerous awards in competitions for best ideas. We believe it is just a starting. In past 12 months, our employees have generated 5 great innovated ideas adapted by world class companies.</p>
            </header>
            <div class="image-grid">
                <a href="#" class="image"><img src="~/Content/Images/pic03.jpg" alt="" /></a>
                <a href="#" class="image"><img src="~/Content/Images/pic04.jpg" alt="" /></a>
                <a href="#" class="image"><img src="~/Content/Images/pic05.jpg" alt="" /></a>
                <a href="#" class="image"><img src="~/Content/Images/pic06.jpg" alt="" /></a>
                <a href="#" class="image"><img src="~/Content/Images/pic07.jpg" alt="" /></a>
                <a href="#" class="image"><img src="~/Content/Images/pic08.jpg" alt="" /></a>
                <a href="#" class="image"><img src="~/Content/Images/pic09.jpg" alt="" /></a>
                <a href="#" class="image"><img src="~/Content/Images/pic10.jpg" alt="" /></a>
            </div>

        </div>
    </section>

    <!-- Three -->
    <section id="three" class="wrapper style3 special">
        <div class="inner">
            <header class="major narrow	">
                <h2>We value our customers</h2>

                <p>Our company is known for the service we provide for our customers. Customers never regret doing business with us.</p>
            </header>

        </div>
    </section>

    <!-- Four -->
    <section id="four" class="wrapper style2 special">
        <div class="inner">
            <header class="major narrow">
                <h2>Get in touch</h2>
                <p>Fill out you enquiry below.</p>
            </header>
            <form method="POST">
                <div class="container 75%">
                    <div class="row uniform 50%">
                        <div class="6u 12u$(xsmall)">


                            <input name="name" placeholder="Name" type="text" required />
                        </div>
                        <div class="6u$ 12u$(xsmall)">
                            <input name="email" placeholder="Email" type="email" required />
                        </div>
                        <div class="12u$">
                            <textarea name="message" placeholder="Message" rows="4" required></textarea>
                        </div>
                    </div>
                </div>
                <ul class="actions">
                    <li><input type="submit" class="special" value="Submit" onclick="postMessage" /></li>
                    <li><input type="reset" class="alt" value="Reset" /></li>
                </ul>
            </form>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <ul class="icons">
                <li>
                    <a href="#" class="icon fa-facebook">
                        <span class="label">Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="icon fa-twitter">
                        <span class="label">Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="icon fa-instagram">
                        <span class="label">Instagram</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="icon fa-linkedin">
                        <span class="label">LinkedIn</span>
                    </a>
                </li>
            </ul>

        </div>
    </footer>

    <!-- Scripts -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/skel.min.js"></script>
    <script src="~/Scripts/util.js"></script>
    <script src="~/Scripts/main.js"></script>

</body>
</html>